.modal .modal-body table.table {
  background-color: transparent;
}

.modal .modal-body table.table tr:hover {
  background-color:rgba(255, 255, 255, 0.3);
}

.modal .modal-body.parameters table.table tr td:first-child {
  text-align: right;
}

.modal .modal-body.parameters textarea {
  color: #000000;
  height: 300px;
  width: 100%;
}

.modal .modal-body .nav.nav-tabs li a {
  color: #FFFFFF;
}

.modal .modal-body .nav.nav-tabs li.active a,
.modal .modal-body .nav.nav-tabs li a:active,
.modal .modal-body .nav.nav-tabs li a:hover {
  color: #000000;
  background-color:rgba(255, 255, 255, 0.8);
}


.modal .modal-body.parameters .tab-pane {
  overflow-x: hidden;
  max-height: 400px;
}
