//= form_tag(searchs_path, {:method=>:get, :class=>"form-horizontal"}) do
//  .form-material.form-material-primary.input-group.remove-margin-t.remove-margin-b
//    %input#base-material-text.typeahead.form-control{:name => "search", :placeholder => "Pesquisar...", :type => "text"}/
.ui-widget
  %label{:for => "birds"} Busca inteligente do pedinha:
  %input#birds{:size => "50"}/

.row
  %ul#question_list


  